## Carga de datos con *read_csv*

In [1]:
import pandas as pd
import os

### Fichero *Titanic*

In [5]:
main_path = "../../datasets"
file_name = "titanic/titanic3.csv"
full_path = os.path.join(main_path, file_name)

In [9]:
# Load DF
df1 = pd.read_csv(full_path)

In [8]:
df1.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [14]:
# Ejemplo parametros funcion 'read_csv'
"""
pd.read.csv(filepath="../../datasets/titanic/titanic3.csv",
            sep=",",
            # Modifica el tipo de dato de la columna
            dtype={"ingresos":np.float64, "edad":np.int32},
            # Se coge la fila que deba de actuar como cabecera, en este caso la fila 0
            header=0,
            # Modifica nombres de las columnas
            names={"ingresos", "edad"},
            # Saltar N filas. Si N = 12, se saltaria las 12 primeras y la primera fila sera la 13
            skiprows=None,
            # Modifica el id de las filas del DF
            index_col=None,
            # Se salta los valores que contengan algun tipo de valor en blanco, en este caso en vez de poner Nan los deja en blanco
            skip_blank_lines = True,
            # Se salta todas las filas con valores Nan
            na_filter=True
            )"""

'\npd.read.csv(filepath="../../datasets/titanic/titanic3.csv",\n            sep=",",\n            # Modifica el tipo de dato de la columna\n            dtype={"ingresos":np.float64, "edad":np.int32},\n            # Se coge la fila que deba de actuar como cabecera, en este caso la fila 0\n            header=0,\n            # Modifica nombres de las columnas\n            names={"ingresos", "edad"},\n            # Saltar N filas. Si N = 12, se saltaria las 12 primeras y la primera fila sera la 13\n            skiprows=None,\n            # Modifica el id de las filas del DF\n            index_col=None,\n            # Se salta los valores que contengan algun tipo de valor en blanco, en este caso en vez de poner Nan los deja en blanco\n            skip_blank_lines = True,\n            # Se salta todas las filas con valores Nan\n            na_filter=True\n            )'

### Fichero *Customer Churn Columns*

In [32]:
customer_folder = "customer-churn-model"
file_name_cols_csv= "Customer Churn Columns.csv"
file_name_txt = "Customer Churn Model.txt"

In [63]:
df2 = pd.read_csv(os.path.join(main_path,customer_folder,file_name_txt), sep=",")
df2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [31]:
df2.columns.values

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [43]:
df2_cols = pd.read_csv(os.path.join(main_path,customer_folder, file_name_cols_csv))
# Cojo lista de cabeceras de otro fichero para sustiturlas en este nuevo

df2_cols_names = df2_cols["Column_Names"].tolist()
# Una vez convetidos a lista se carga el fichero

df2 = pd.read_csv(os.path.join(main_path, customer_folder, file_name_txt), header=None, names=df2_cols_names)
df2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

# Carga de datos a partir de la funcion *open*
Debido a que con Datasheets muy grandes, pandas no es lo más óptimo.  
Para ello se utiliza esta funcion, mas ligera que read_csv.

In [76]:
# Strip: elimina espacios en blanco, tanto al inicio como al final de la linea
"""
# CUIDADO: esta funciona cada vez que lee con readline avanza una fila, por lo tanto se debe de abrir el 
# fichero nuevamente en cada intento, si solo se quiere coger la cabecera
"""
data = open(os.path.join(main_path, customer_folder, file_name_txt), 'r')

cols = data.readline().strip().split(",")
cols_number = len(cols)
cols_number

21

In [77]:
"""
     Se crea un dict para poder añadir el contenido del fichero ahi, y despues convertir este a DF.
     Para ello se debe de hacer de forma manual, y tratandolo como una matriz bidimensional.
     De tal forma, primero se creara el diccionario con sus columnas, y despues recorriendo el propio fichero y
     el diccionario, este se ira rellenando.
     
     Nota:
        Hay que tener cuidado al abrir un fichero en modo "w" (escritura) ya que esto hará que dicho fichero pierda 
        su contenido (en caso de tenerlo y querer conservarlo). 
        Si por algún motivo se quiere agregar contenido a este es recomendable abrirlo en modo "a" (append), lo cual 
        posicionará el cursor al final y no borrará el contenido del mismo.
"""
rows_counter = 0
main_dict = {}

# Añadir columnas al dict
for col in cols:
    main_dict[col] = []
main_dict

# Rellenar dict
for line in data:
    line_values = line.strip().split(",")
    for i in range(cols_number):
        main_dict[cols[i]].append(line_values[i])
    rows_counter += 1

print("%d rows x %d columns" %(rows_counter, cols_number))

3333 rows x 21 columns