# Carga de datos

## Carga de datos con *read_csv*

In [52]:
import pandas as pd
import os

### Fichero *Titanic*

In [53]:
main_path = "../../datasets"
file_name = "titanic/titanic3.csv"
full_path = os.path.join(main_path, file_name)

In [54]:
# Load DF
df1 = pd.read_csv(full_path)

In [55]:
df1.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [56]:
# Ejemplo parametros funcion 'read_csv'
"""
pd.read.csv(filepath="../../datasets/titanic/titanic3.csv",
            sep=",",
            # Modifica el tipo de dato de la columna
            dtype={"ingresos":np.float64, "edad":np.int32},
            # Se coge la fila que deba de actuar como cabecera, en este caso la fila 0
            header=0,
            # Modifica nombres de las columnas
            names={"ingresos", "edad"},
            # Saltar N filas. Si N = 12, se saltaria las 12 primeras y la primera fila sera la 13
            skiprows=None,
            # Modifica el id de las filas del DF
            index_col=None,
            # Se salta los valores que contengan algun tipo de valor en blanco, en este caso en vez de poner Nan los deja en blanco
            skip_blank_lines = True,
            # Se salta todas las filas con valores Nan
            na_filter=True
            )"""

'\npd.read.csv(filepath="../../datasets/titanic/titanic3.csv",\n            sep=",",\n            # Modifica el tipo de dato de la columna\n            dtype={"ingresos":np.float64, "edad":np.int32},\n            # Se coge la fila que deba de actuar como cabecera, en este caso la fila 0\n            header=0,\n            # Modifica nombres de las columnas\n            names={"ingresos", "edad"},\n            # Saltar N filas. Si N = 12, se saltaria las 12 primeras y la primera fila sera la 13\n            skiprows=None,\n            # Modifica el id de las filas del DF\n            index_col=None,\n            # Se salta los valores que contengan algun tipo de valor en blanco, en este caso en vez de poner Nan los deja en blanco\n            skip_blank_lines = True,\n            # Se salta todas las filas con valores Nan\n            na_filter=True\n            )'

### Fichero *Customer Churn Columns*

In [57]:
customer_folder = "customer-churn-model"
customer_file_name_cols_csv= "Customer Churn Columns.csv"
customer_file_name_txt = "Customer Churn Model.txt"

In [58]:
df2 = pd.read_csv(os.path.join(main_path,customer_folder,customer_file_name_txt), sep=",")
df2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [59]:
df2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [60]:
df2_cols = pd.read_csv(os.path.join(main_path,customer_folder, customer_file_name_cols_csv))
# Cojo lista de cabeceras de otro fichero para sustiturlas en este nuevo

df2_cols_names = df2_cols["Column_Names"].tolist()
# Una vez convetidos a lista se carga el fichero

df2 = pd.read_csv(os.path.join(main_path, customer_folder, customer_file_name_txt), header=None, names=df2_cols_names)
df2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

## Carga de datos a partir de la funcion *open*
Debido a que con Datasheets muy grandes, pandas no es lo más óptimo.  
Para ello se utiliza esta funcion, mas ligera que read_csv.

In [61]:
# Strip: elimina espacios en blanco, tanto al inicio como al final de la linea
"""
# CUIDADO: esta funciona cada vez que lee con readline avanza una fila, por lo tanto se debe de abrir el 
# fichero nuevamente en cada intento, si solo se quiere coger la cabecera
"""
data = open(os.path.join(main_path, customer_folder, customer_file_name_txt), 'r')
print(type(data))

cols = data.readline().strip().split(",")
cols_number = len(cols)
cols_number

<class '_io.TextIOWrapper'>

21

In [62]:
"""
     Se crea un dict para poder añadir el contenido del fichero ahi, y despues convertir este a DF.
     Para ello se debe de hacer de forma manual, y tratandolo como una matriz bidimensional.
     De tal forma, primero se creara el diccionario con sus columnas, y despues recorriendo el propio fichero y
     el diccionario, este se ira rellenando.
     
     Nota:
        Hay que tener cuidado al abrir un fichero en modo "w" (escritura) ya que esto hará que dicho fichero pierda 
        su contenido (en caso de tenerlo y querer conservarlo). 
        Si por algún motivo se quiere agregar contenido a este es recomendable abrirlo en modo "a" (append), lo cual 
        posicionará el cursor al final y no borrará el contenido del mismo.
"""
rows_counter = 0
main_dict = {}

# Añadir columnas al dict
for col in cols:
    main_dict[col] = []
main_dict

# Rellenar dict
for line in data:
    line_values = line.strip().split(",")
    for i in range(cols_number):
        main_dict[cols[i]].append(line_values[i])
    rows_counter += 1

print("%d rows x %d columns" %(rows_counter, cols_number))

3333 rows x 21 columns

In [63]:
df3 = pd.DataFrame(main_dict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

## Lectura y escritura de ficheros

In [64]:
infile = os.path.join(main_path, customer_folder, customer_file_name_txt)

# Fichero de salida
outfile = os.path.join(main_path, customer_folder, "Tab Customer Churn Model.txt")

In [65]:
with open(infile, 'r') as infile1:
    with open(outfile, 'w') as outfile1:
        for in_line in infile1:
            out_line = in_line.strip().split(",")
            outfile1.write("\t".join(out_line))
            # Hay que hacer un salto de linea, para cada una de las filas
            outfile1.write("\n")

In [66]:
df4 = pd.read_csv(outfile, sep="\t")
df4

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

## Lectura de datos a partir de una URL

In [67]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [68]:
medals_df = pd.read_csv(medals_url)
medals_df

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

### Descarga de datos con urllib3
Si usar pandas para la descarga de los datos. Esta forma en teoría es bastante mas efeciente a la hora de descargar grandes ficheros

In [69]:
import urllib3
import csv

encoding = "utf-8"
http = urllib3.PoolManager()
r = http.request("GET", medals_url)
response = r.data

## Esto nos devuelve un string gigante, para solucinarlo, lo que se puede hacer es separar mediante split los "\n" que son los saltos de linea y despues separar por ","
str_data = response.decode(encoding)
str_lines = str_data.split("\n")

main_dict = {}

# Obtenida y borrada primera linea (primera posicion de la lista)
cols = str_lines[0].split(",")
str_lines.remove(str_lines[0])

for col in cols:
    main_dict[col] = []


for line in str_lines:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])

medals_df2 = pd.DataFrame(main_dict)
medals_df2

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

## Lectura con ficheros XLS y XLSX

In [70]:
titanic_folder = "titanic"
titanic_filename = "titanic3.xls"

In [74]:
titanic2_df = pd.read_excel(os.path.join(main_path, titanic_folder, titanic_filename), "titanic3")
titanic2_df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [76]:
titanic2_df.to_csv(os.path.join(main_path, titanic_folder, "titanic_custom.csv"))

In [82]:
titanic2_df.to_json(os.path.join(main_path, titanic_folder, "titanic_custom.json"))

In [81]:
titanic_dic = titanic2_df.to_dict()